[Desktop Entry]
Encoding=UTF-8
Name=Criptopeso
Comment=Criptopeso P2P Cryptocurrency
Exec=criptopeso-qt %u
Terminal=false
Type=Application
Icon=criptopeso128
MimeType=x-scheme-handler/criptopeso;
Categories=Office;Finance;
Name[en_US]=criptopeso-qt.desktop
